#about {
  display: grid;
  justify-content: space-around;
  gap: 3rem;
  margin: 10vh 5vw;
  grid-template-columns: 1fr 1fr;
}

.about-me-container,
.personal-skills-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me-title,
.personal-skills-title {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  #about {
    grid-template-columns: 1fr;
  }
}
