.contact-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  height: 100vh;
  align-items: center;
  margin: 0 10rem;
}

.main-title {
  color: #5f5fdb;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-container h1 {
  font-size: 45px;
  color: #333333;
  margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 2px solid #808080;
  margin-bottom: 2rem;
}

.contact-form button {
  background-color: #5f5fdb;
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-info h3{
  color: #333333;
text-transform: uppercase;
font-size: small;
}
.contact-info p{
  margin-bottom: 1rem;
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
  .contact-container{
  margin: 0 5rem;

  }
}

@media screen and (max-width: 900px) {
  .contact-container{
  grid-template-columns:  1fr;
  margin: 0 2rem;
  align-content: center;

  }

  .contact-container h1 {
    font-size: 40px;
  }
}