/* Greeting page */
.greeting-container {
  margin: 10vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.greeting-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Typewriter__cursor,
.Typewriter__wrapper{
  color: #89c0d8;
}

/* Introduction page */
.intro-container {
  height: 50vh;
}

/* Home page */

